*{

box-sizing:border-box;
margin:0;

}

html{

scroll-behavior: smooth;


}


:root{

    --green-color_N1:#014426;
    --beige-color_N2: rgb(226, 226, 226);
    --brown-color_N3: #4B5320;
    --white--color_N°4: rgb(255, 255, 255);
    --font--general:"Lunasima", sans-serif;
    --font--special: "Frijole", system-ui;
}

body{

background-image: url('img/Fondo.jpg');
background-attachment: fixed;
background-position: top right;
background-size: cover;
background-repeat: no-repeat;
font-family: var(--font--general);
font-weight: 700;


}

.header{

background-color: var(--beige-color_N2);
height: 20rem;
display:flex;
justify-content: start;
align-items: center;


}

.navegador{
    width: 90%;
    height: 30%;
    background-color: var(--green-color_N1);
    margin: 5rem;
    border-radius: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 5px 5px var(--brown-color_N3);
}




.navegador h2{

color:var(--white--color_N°4);
font-family: var(--font--special);
text-shadow: 2px 5px 5px var(--brown-color_N3);

}

.navegador ul{
    width: 30rem;
    display: flex;
    justify-content:center;
    gap:5%;
    padding: 0;





}


.navegador ul li{

list-style-type: none;

}

.navegador ul li a{

text-decoration: none;
color: azure;
position:relative;
transition: all 0.5s;
}

.navegador ul li a:hover{
color:rgb(206, 206, 36);
}
    

.navegador ul li a::before{

content:" ";
position:absolute;
width:0%;
height: 3px;
background-color: azure;
top:1.4rem;
border-radius: 3px;
transition: all 0.2s;



}

.navegador ul li a:hover::before{
    
  width: 100%;  
    
}






@media(max-width:770px){

.navegador{

    width: 70%;
flex-direction: column;
font-size: 10px;
z-index: 2000;

}


}

/* Main */


.section{

width:100%;
background-color: var(--beige-color_N2);


}




.section-about-us{
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:10rem;
    gap: 17%;

}


.first-message-box{
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: var(--green-color_N1);
    border-top-left-radius: 0.5rem;



}




@media(max-width:800px){

.section-about-us{

height: 190rem;

}


.first-message-box{
    width: 100%;
    flex-direction: column;
    align-items: center;

}
}

.sub-article{
width: 50%;


}

.sub-article-contenido{
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
color: var( --white--color_N°4);


}

.sub-article-contenido h1{

text-align: center;

}
.sub-article-contenido p{
    width: 15rem;
    line-height: 2.2;
   text-align: justify;
   padding: 1rem;
    
    
}


.sub-article-promocion {

display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: var(--white--color_N°4);
color: var(--brown-color_N3);
border-top-left-radius: 0.5rem;


}
.sub-content{
width:15rem;
padding: 2rem 1rem;
}
.sub-content img{
    width:100%;
    border-radius: 0.4rem;    
}




.datas-box{

width:90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.datas-box h2{

    margin-bottom: 1rem;
    color: var(--brown-color_N3)
    
}

.datas-table{
    display: grid;
width:80%;
grid-template-rows:repeat(3, 1fr);
grid-template-columns:repeat(3, 1fr);
background-color: var(--white--color_N°4);

}



@media(max-width: 800px){

.datas-table{


width:90%;
grid-template-rows: repeat(9, 1fr);
grid-template-columns:100%;
background-color: var(--white--color_N°4);


}



#TB{

    grid-row:4/5;
    
}


#TC{

grid-row:7/8;


}


.cell-cert{

grid-row: 3/4;


}


.cell-star{

grid-row:6/7;


}

}


.img-table{

width:10rem;

}



.cell{
    padding: 2rem;
    border: 1px solid var(--brown-color_N3);

}

.cell-title{
    border: 1px solid var(--white--color_N°4);
background-color: var(--brown-color_N3);
color: var(--white--color_N°4);


}



.message-content {
width:100%;
display:flex;
justify-content: center;
align-items: center;
    
}


.message-content div h2{
color:var(--beige-color_N2);
margin-top:30rem ;
}





/* This section is for show the products */


.section-product{

    margin-top: 30%;
background-color: var(--beige-color_N2);
padding: 4rem;
display: flex;
flex-direction: column;
align-items: center;


}



.section-product h2{
color: var(--brown-color_N3);


}

.product-content{

width: 90%;
height: 30rem;
display: flex;
justify-content: center;
gap: 5%;
margin-top: 3rem ; 
}


.box-card{


    width: 28rem;
    background: var(--white--color_N°4);
    padding: 0.4em;
    border-radius: 0.5rem;

}

.box-card:hover{

    transform: scale(0.97);


}


.box-card-A{

    background-image: url('img/box.png');
    background-position: center;
    background-size: cover;
}
.box-card-B{

    background-image: url('/img/books.png');
    background-position: center;
    background-size: cover;
}
.box-card-C{

    background-image: url('img/handbag.png');
    background-position: center;
    background-size: cover;
}
.box-card-D{

    background-image: url('img/fork.png');
    background-position: center;
    background-size: cover;
}
.box-card-E{

    background-image: url('img/glass.png');
    background-position: center;
    background-size: cover;
}
.box-card-F{

    background-image: url('img/plate.jpg');
    background-position: center;
    background-size: cover;
}
.box-card-G{

    background-image: url('img/letter.png');
    background-position: center;
    background-size: cover;
}
.box-card-H{

    background-image: url('img/product.png');
    background-position: center;
    background-size: cover;
}



@media(max-width:1200px){



    .section-product{

        height: 70rem;



    }
    .product-content{

        height: 30rem;
        flex-wrap: wrap;
    
        
 
    
    }



}




  .card-title {
    
    font-size: 0.5rem;
    font-weight: 700;
    color: var(--green-color_N1);

  }
  
  .card title:hover {
    cursor: pointer;
  }
  
  .card-text {
    font-weight: 600;
    color: gray;
    padding: 0.8rem;
  }
  
  .card-text:hover {
    cursor: pointer;
  }
  
  .cost {
    color: rgb(65, 52, 33);
    font-weight: 600;
    font-size: 17px;
    padding-top: 20px;
  }
  
 

/* This is the style of the contact */



.contact-box{
width:100%;
height: 30rem;
background-color: var(--beige-color_N2);
margin:0;
display:flex;
justify-content: center;
align-items: center;

}


.contact-box form{
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width:30rem;
background-color: var(--white--color_N°4);
padding:2rem;
border-radius: 0.3rem;
border: 0.5px solid var(--brown-color_N3);
gap: 30px;

}



@media(max-width:480px){

 .contact-box form{

    width: 50%;

 }
    }


/* This is the style of the footer content */


footer {
 width: 100%;
 height: 14rem;
 background-color: var(--green-color_N1);
    padding: 0.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


footer .redes{
display:flex;
gap:10%;

}
footer .redes img{
    width: 30px;
    
    }